<h1>Editing paranoiac</h1>

<%= render "form", paranoiac: @paranoiac %>

<br>

<div>
  <%= link_to "Show this paranoiac", @paranoiac %> |
  <%= link_to "Back to paranoiacs", paranoiacs_path %>
</div>
